<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Employee Management</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="my-4">Welcome to the Employee Management System</h1>
      <div class="list-group">
        <a href="/dashboard" class="list-group-item list-group-item-action"
          >Employyess</a
        >
        <a href="/attendances" class="list-group-item list-group-item-action"
          >Attendance</a
        >
        <a href="/loan" class="list-group-item list-group-item-action"
          >Loan Management</a
        >
        <a
          href="/generate-salary"
          class="list-group-item list-group-item-action"
          >Generate Salary</a
        >
        <a
          href="/generate-summary"
          class="list-group-item list-group-item-action"
          >Generate Salary Summary</a
        >
        <a href="/workplaces" class="list-group-item list-group-item-action"
          >Workplaces</a
        >
        <a href="/deduction" class="list-group-item list-group-item-action"
          >Deductions</a
        >
        <a href="/stats" class="list-group-item list-group-item-action"
          >Daily Stats</a
        >
      </div>
    </div>
  </body>
</html>
